<div class="top_left_margin"></div>
<div class="left_box_margin">
	<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>
</div>
<div class="top_margin">
		<h1 class="energy_title">Biofuel</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container_biofuel">

		<p class="energy_text">
			A biofuel is a type of fuel whose energy is derived from biological carbon fixation. Biofuels include fuels derived from biomass conversion, as well as solid biomass, liquid fuels and various biogases. Biofuel is most commonly defined as a renewable source of energy, which is produced from biological material or biomass, such as sugar cane, corn, cellulose or vegetable oils. The strategic goal of biofuel is to supplement or even replace fossil fuels, the amount of which is constantly and rapidly diminishing. The most widely spread types of biofuel these days are ethanol and biodiesel. It is interesting to note that certain traditional fossil fuels, for example coal, may also be treated as a kind of biofuel since coal also originates from biological material. The key difference between fossil fuels and modern biofuel energy is that the latter is derived from plants that were alive recently, while coal is derived from biological material that has been dead for hundreds and thousands of years.
		</p>
</div>
</div>

	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
