<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="about_title">Biomass</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container">
		<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>

				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>

		<p class="energy_text">
			Biomass is renewable energy made available from materials derived from biological sources. Biomass is any organic material, which has stored sunlight in the form of chemical energy. As a fuel it may include, wood waste, straw, manure, sugarcane, and many other byproducts from a variety of agricultural processes. By 2010, there was 35GW of globally installed bioenergy capacity for electricity generation.
		</p>
</div>
</div>



	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
	</div>
