<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 id="about_title">Biomass</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container_biomass">
		<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>

				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>

		<p class="energy_text">
			Biomass is renewable energy made available from materials derived from biological sources. The estimated biomass production in the world is 146 billion tons a year. Biomass is any organic material, which has stored sunlight in the form of chemical energy. As a fuel it may include, wood waste, straw, manure, sugarcane, and many other byproducts from a variety of agricultural processes. As of 2010, there was 35GW of globally installed bioenergy capacity for electricity generation. Biomass-derived energy has the potential to reduce carbon dioxide emissions because the burning of biomass does not release new carbon into the atmosphere.
		</p>

		<p class="energy_text">
			Biomass can be converted to energy in three ways: thermal conversion, chemical conversion and biochemical conversion.  Thermal conversion uses heat to convert biomass into another chemical form. Energy produced by burning biomass is particularly suited for tropical countries where there is more fuel wood. Chemical conversion may be used to produce a fuel that is more convenient to use, transport and store. Biochemical production can be used to directly produce hydrogen gas from plant matter and harness the biochemical conversion processes.
		</p>
</div>
</div>



	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
	</div>
