<div class="top_left_margin"></div>
<div class="left_box_margin">
	<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>
</div>
<div class="top_margin">
		<h1 class="energy_title">Energy Storage</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container_energy_storage">

		<p class="energy_text">
			Energy storage is accomplished by devices or physical media that store energy to perform useful operation at a later time. A device that stores energy is sometimes called an accumulator.
		</p>

		<p class="energy_text">
			 All forms of energy are either potential energy or kinetic energy. Some technologies provide only short-term energy storage, and others can be very long-term such as power to gas using hydrogen and the storage of heat or cold between opposing seasons in deep aquifers or bedrock. A wind-up clock stores potential energy, a battery stores readily convertible chemical energy to operate a mobile phone, and a hydroelectric dam stores energy in a reservoir as gravitational potential energy. Ice storage tanks store ice at night to meet peak demand for cooling. Fossil fuels such as coal and gasoline store ancient energy derived from sunlight by organisms that later died, became buried and over time were then converted into these fuels. Even food is a form of energy stored in chemical form.
		</p>
</div>
</div>



	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
