<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 class="energy_title">Geothermal</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container_geothermic">
		<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>

				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>

		<p class="energy_text">
			Geothermal energy and heat of the earth's crust is used by drilling which is captured by the superheated steam pipe for magma chambers to turn a turbine and drive an electric generator or thermal applications such as space heating, spas and agro industrial processes. There are five types of geothermal resources, and each is associated with specific technologies for use: hydrothermal, hot dry rock, geopressured, marine and magmatic. The first are those who are currently operating in Mexico and other countries, while the other four are in the process of research and development in the specific case of the hot dry rock resources, commercial technologies already exist and are growing.
		</p>

</div>
</div>



	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
