<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 class="energy_title">Solar</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container">
		<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>

				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>


			<p class="energy_text">
				There are two technologies for generating electricity from solar radiation: photovoltaic and concentrating solar. Photovoltaic cells convert sunlight directly into electricity through a physical phenomenon called the photovoltaic effect. Photovoltaic cells can be used in connection with the mains or in isolated, through systems that include batteries.
			</p>

			<%= image_tag("solar_image.png", :id => "solar_image") %>
</div>
</div>

	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
