<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 class="energy_title">Waste Management</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container">
		<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>

				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>

				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>

		<p class="energy_text">
			Waste to energy is the process of generating energy in the form of electric and/or heat from the incineration of waste.  Most waste to energy processes produce electricity and/or heat directly through combustion, or produce a combustible fuel commodity, such as methane, methanol, ethanol or synthetic fuels. Waste to energy is considered a clean energy technology because it uses an abundant and unusable material such as waste to generate electricity. Waste to energy plants are highly efficient power plants that utilize municipal solid waste as their fuel rather than coal, oil or natural gas. Far better than expending energy to explore, recover, process and transport the fuel from some distant source. Overall, waste to energy plants find value in what others consider garbage.
		</p>
</div>
</div>

	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
