<div class="top_left_margin"></div>
<div class="left_box_margin">
	<table class="energy_table" class="table-hover">
			<tr>
				<td>
					<%= link_to "Wind", "wind", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td >
					<%= link_to "Solar", "solar", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
				</td>
			</tr>
		</table>
</div>
<div class="top_margin">
		<h1 class="energy_title">Water Treatment</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
<div class="energy_container_water_treatment">
		
		<p class="energy_text">
			Water treatment describes those industrial-scale processes used to make water more acceptable for a desired end-use. These can include use for drinking water, industry, medical and many other uses. Such processes may be contrasted with small-scale water sterilization practiced by campers and other people in wilderness areas. The goal of all water treatment process is to remove existing contaminants in the water, or reduce the concentration of such contaminants so the water becomes fit for its desired end-use. One such use is returning water that has been used back into the natural environment without adverse ecological impact.
		</p>
</div>
</div>



	<div class="row">
		
		  <div class="center" id="content-size-about">
		  
		  </div>
		
	</div>
