<div class="top_left_margin"></div>
<div class="left_box_margin"></div>
<div class="top_margin">
		<h1 class="energy_title">Wind</h1>
</div>
<div class="top_right_margin"></div>

<div class="row">
	<div class="energy_container">
			<table class="energy_table" class="table-hover">
				<tr>
					<td>
						<%= link_to "Wind", "wind", :class => "energy_nav" %>
					</td>

					<td >
						<%= link_to "Solar", "solar", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Biomass", "biomass", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Biofuel", "biofuel", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Hydroelectric", "hydroelectric", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Geothermic", "geothermic", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Waste Management", "wastemanagement", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Energy Storage", "energystorage", :class => "energy_nav" %>
					</td>

					<td>
						<%= link_to "Water Treatment", "watertreatment", :class => "energy_nav" %>
					</td>
				</tr>
			</table>

			<p class="energy_text">
				Wind turbines convert the kinetic energy from wind into mechanical energy to directly drive either a machine such as a water pump or a grain mill, or to drive an electric generator. The most common turbine technologies in the industry are horizontal axis and vertical axis. The former are more efficient for industrial applications such as wind farms located in rural areas with large land provisions, however, for environments urban vertical axis turbines are gaining importance because they require less installation area, generate less noise and can be attached to other uses such as street lighting and advertising. 
			</p>

			<p class="energy_text">
				Wind turbines include a wide range of powers depending on their use and their production ranges from 400 W to over 7 MW. The larger turbines are designed primarily to offshore wind farms.
			</p>

			<p class="energy_text">
				During the last two decades the wind turbine technology has advanced dramatically and costs have been reduced to become competitive with conventional technologies in geographical contexts where wind power density, direction and retention allow generation plant factors above 20%.
			</p>
	</div>
</div>

	<div class="row">
		  <div class="center" id="content-size-about">
		  		
		  </div>
	</div>
