<div class="top_left_margin"></div>
<div class="left_box_margin_contact"></div>
<div class="top_margin">
		<h1 id="contact_title">Contact Us</h1>
</div>

<div class="top_right_margin_contact">
	<div class="contact_info">
		<h4>Our Contact Information</h4>

		<h3 class="city">Boston<span class="colon">:</span></h3>
		<h5>337 Summer St.</h5>
		<h5>Ground Floor</h5>
		<h5>Boston, MA 02210</h5>
		</br>
		<h3 class="city">Mexico<span class="colon">:</span></h3>
		<h5>Avenida Parque Via Reforma 1920.</h5>
		<h5>Colonia Lomas de Chapultepec</h5>
		<h5>Mexico D.F. 11000</h5>
		</br>
		<h3 class="city">Email<span class="colon">:</span></h3>
		<h5>Email: info@globalcatalysts.com.mx</h5>
	</div>
</div>

<div id="contact_container">
	<div class="contact_form">
		<div class="row">
			<%= form_for(@contact) do |f| %>

			<h3 id="contact_title"> Your Details<span class="colon">:</span></h3>
			<table id="contact_table">
				<tr>
					<td>
			<%= f.label :last_name, "Last Name" %>
					</td>
					<td>
			<%= f.text_field :last_name %>
					</td>
				</tr>
				<tr>
					<td>
			<%= f.label :first_name, "First Name" %>
					</td>
					<td>
			<%= f.text_field :first_name %>
					</td>
				</tr>
				<tr>
					<td>
			<%= f.label :company, "Company" %>
					</td>
					<td>
			<%= f.text_field :company %>
					</td>
				</tr>
				<tr>
					<td>
			<%= f.label :phone, "Phone Number" %>
					</td>
					<td>
			<%= f.text_field :phone %>
					</td>
				</tr>
				<tr>
					<td>
			<%= f.label :email, "Email" %>
					</td>
					<td>
			<%= f.text_field :email %>
					</td>
				</tr>
				<tr>
					<td>
			<%= f.label :message,  "Message" %>
					</td>
					<td>
			<%= f.text_area :message, :cols => "2", :rows => "2" %>
					</td>
				</tr>
			</table>
		</div>

		<div class="row" id="submit">
			<%= f.submit "Send Your Request", class: "contact_button" %>

			<% end %>
		</div>
	</div>
</div>

<div class="row">
		  <div class="center" id="content-size-contact">
		  
		  </div>
</div>