<div class="contact_info">
	<table class="table">
		<tr>
			<th>Name:</th>
			<td><%= @contact.last_name %></td>
		</tr>
		<tr>
			<th>Company:</th>
			<td><%= @contact.company %></td>
		</tr>
		<tr>
			<th>Email:</th>
			<td><%= @contact.email %></td>
		</tr>
		<tr>
			<th>Phone:</th>
			<td><%= @contact.phone %></td>
		</tr>
		<tr>
			<th>Message:</th>
			<td><%= @contact.message %></td>
		</tr>
	 </table>
</div>