<footer>
	<div id="twitter">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="GlobalCatalysts" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div id="facebook_link">
		<%= link_to image_tag("facebooklogo.png", :id => "facebook"), "https://www.facebook.com/GlobalCatalysts" %>
		<div id="fb-root"></div>
	</div>
	<div id="like_link">
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=213657575363271";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

		<div class="fb-like" data-href="https://www.facebook.com/GlobalCatalysts" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
	</div>
	<nav id="footer_links">
		<ul>
			<li><%= link_to "Home |", root_path %></li>
			<li><%= link_to "What We Do |", "about" %></li>
			<li><%= link_to "Opportunities |", "opportunities" %></li> 
			<li><%= link_to "Contact |", "contact" %></li>
		</ul>
	</nav>
</footer>
