<div class="header">
   <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">

        <li class="nav-links">
          <%= link_to "Home |", root_path %>
        </li>

         <li class="nav-links">
          <%= link_to "What We Do |", "about" %>
        </li>

        <li class="nav-links">
          <%= link_to "Events |", "events" %>
        </li>

        <li class="nav-links">
          <%= link_to "Contact |", "contact" %>
        </li>

        <li class="nav-links">
          <%= link_to "Opportunities", "opportunities" %>
        </li>   

      </ul>
    </div>
   </div>
   <%= image_tag("logo.jpg", :id => "logo") %>
</div>

